<header class="layout-outer bg-red">
  <div class="layout-inner tx-center">
    <h2 class="tx-white tx-large">IA Topic Editor</h2>
  </div>
</header>

<div class="layout-outer">
  <section class="main layout-inner">
    {{outlet}}
  </section>
</div>

<footer class="layout-outer bg-blue">
  <div class="layout-inner tx-center">
    <p class="tx-white">fin</p>
  </div>
</footer>
